@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
body,
ul {
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
}

input,
textarea {
  border-radius: 6px;
  background-color: white;
  -webkit-appearance: none;
}

input[type="button"] {
  -webkit-appearance: none;
}

input[type="submit"] {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
}

img {
  vertical-align: bottom;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

em {
  font-style: normal;
  /* font-weight: 800; */
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  color: #303030;
  font-family: "Noto Sans KR", AppleGothic, Dotum, sans-serif;
  word-break: keep-all;
  min-width: 320px;
}

body.overflow_hidden,
html.overflow_hidden {
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
}
input::placeholder {
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
}

select {
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  color: #303030;
}

textarea {
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
}

button {
  background-color: transparent;
  user-select: none;
  font-family: "Noto Sans KR", AppleGothic, Dotum, sans-serif;
}

/* 커스텀 404 */
.custom_404_wrapper {
  padding: 135px 30px;
  text-align: center;
}
.custom_404_wrapper img {
  width: 100%;
  max-width: 539px;
  margin-bottom: 17px;
  margin-right: 10px;
}
.custom_404_wrapper h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 18px;
}
@media only screen and (max-width: 580px) {
  .custom_404_wrapper h1 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 15px;
  }
}
.custom_404_wrapper h3 {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
@media only screen and (max-width: 580px) {
  .custom_404_wrapper h3 {
    font-size: 14px;
    line-height: 18px;
  }
}
