.to_top_btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 61px;
  cursor: pointer;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .to_top_btn {
    right: 14px;
    bottom: 14px;
    width: 47px;
  }
}

/* main wrapper */
.dailyblog_main_wrapper header.top_div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding: 27px 41px 0 31px;
  z-index: 100;
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper header.top_div {
    padding: 27px 26px;
  }
}
.dailyblog_main_wrapper header.top_div > img {
  height: 38px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper header.top_div > img {
    height: 34px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper header.top_div > img {
    height: 23px;
  }
}
.dailyblog_main_wrapper header.top_div > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.dailyblog_main_wrapper header.top_div .link_to_admin {
  border: 1px solid white;
  border-radius: 22px;
  padding: 4px 15px;
  color: white;
  font-size: 15px;
  margin-left: 15px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper header.top_div .link_to_admin {
    padding: 3px 13px;
    font-size: 14px;
  }
}
.dailyblog_main_wrapper header.top_div .link_to_dailyfunding {
  display: flex;
  align-items: center;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  font-size: 18px;
  letter-spacing: -1.08px;
  user-select: none;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper header.top_div .link_to_dailyfunding {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper header.top_div .link_to_dailyfunding {
    font-size: 12px;
  }
}
.dailyblog_main_wrapper header.top_div .link_to_dailyfunding img {
  width: 29px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper header.top_div .link_to_dailyfunding img {
    width: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper header.top_div .link_to_dailyfunding img {
    width: 16px;
  }
}
.dailyblog_main_wrapper header.top_div .link_to_dailyfunding span {
  margin-right: 6px;
}

/* 캐러셀 */
.dailyblog_main_wrapper section.carousel_wrap .carousel_item {
  position: static;
  width: 100%;
  height: 814px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.carousel_wrap .carousel_item {
    height: 580px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.carousel_wrap .carousel_item {
    height: 427px;
  }
}
.dailyblog_main_wrapper section.carousel_wrap .carousel_item .black_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.dailyblog_main_wrapper section.carousel_wrap .carousel_item .carousel_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 300px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.carousel_wrap .carousel_item .carousel_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.carousel_wrap .carousel_item .carousel_cover {
    padding-bottom: 61px;
    align-items: flex-end;
  }
}
.dailyblog_main_wrapper
  section.carousel_wrap
  .carousel_item
  .carousel_cover
  .center_div {
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div {
    min-height: 181px;
    text-align: left;
    padding: 0 26px;
    width: 100%;
  }
}
.dailyblog_main_wrapper
  section.carousel_wrap
  .carousel_item
  .carousel_cover
  .center_div
  .category_badge {
  display: inline-block;
  border-radius: 22px;
  border: 1px solid white;
  padding: 3px 26px 5px 26px;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: -1.38px;
  margin-bottom: 18px;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .category_badge {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .category_badge {
    font-size: 14px;
    padding: 4px 14px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .category_badge {
    font-size: 12px;
    letter-spacing: -0.72px;
  }
}
.dailyblog_main_wrapper
  section.carousel_wrap
  .carousel_item
  .carousel_cover
  .center_div
  .title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -2.88px;
  max-width: 878px;
  margin: 0 auto 22px auto;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .title {
    font-size: 44px;
    padding: 0 140px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -1.86px;
    padding: 0 80px;
  }
}
@media only screen and (max-width: 500px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .title {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .title {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.86px;
    padding: 0;
    margin-bottom: 10px;
  }
}
.dailyblog_main_wrapper
  section.carousel_wrap
  .carousel_item
  .carousel_cover
  .center_div
  .subtitle {
  font-size: 20px;
  letter-spacing: -1.2px;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .subtitle {
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .subtitle {
    font-size: 13px;
    letter-spacing: -0.66px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .center_div
    .subtitle {
    font-size: 11px;
  }
}
.dailyblog_main_wrapper
  section.carousel_wrap
  .carousel_item
  .carousel_cover
  .bottom_div {
  position: absolute;
  right: 43px;
  bottom: 36px;
  font-size: 22px;
  font-weight: 300;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  text-align: right;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .bottom_div {
    font-size: 19px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .bottom_div {
    font-size: 16px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper
    section.carousel_wrap
    .carousel_item
    .carousel_cover
    .bottom_div {
    font-size: 13px;
    right: 26px;
    bottom: 23px;
  }
}

.dailyblog_main_wrapper section.carousel_wrap > button {
  display: none;
  position: absolute;
  top: 372px;
  border: none;
  width: 63px;
  height: 63px;
  background-color: transparent;
  cursor: pointer;
}
.dailyblog_main_wrapper section.carousel_wrap > button.carousel_left_btn {
  left: 68px;
}
.dailyblog_main_wrapper section.carousel_wrap > button.carousel_right_btn {
  right: 68px;
}
.dailyblog_main_wrapper section.carousel_wrap > button img {
  width: 100%;
  height: 100%;
}

.dailyblog_main_wrapper section.carousel_wrap:hover > button {
  display: block;
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.carousel_wrap:hover > button {
    display: none;
  }
}

.dailyblog_main_wrapper section.carousel_wrap .alice-carousel__dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 0 30px 0;
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.carousel_wrap .alice-carousel__dots {
    margin-bottom: 23px;
    margin-left: 26px;
    width: unset;
  }
}

.dailyblog_main_wrapper section.carousel_wrap .alice-carousel__dots-item {
  background-color: white;
  width: 11px;
  height: 11px;
  opacity: 0.3;
  margin: 0 8px;
}
.dailyblog_main_wrapper
  section.carousel_wrap
  .alice-carousel__dots-item.__active {
  opacity: 0.8;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.carousel_wrap .alice-carousel__dots-item {
    width: 9px;
    height: 9px;
    margin: 0 6px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.carousel_wrap .alice-carousel__dots-item {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }
}

.dailyblog_main_wrapper section.carousel_wrap .alice-carousel__stage-item * {
  line-height: 1.5;
}

/* 기사 목록 */

.dailyblog_main_wrapper section.articles_list_wrap {
  max-width: 1046px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 70px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.articles_list_wrap {
    max-width: 900px;
    padding: 60px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.articles_list_wrap {
    max-width: 600px;
    padding: 40px 40px 50px 40px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.articles_list_wrap {
    padding: 26px 26px 47px 26px;
  }
}
.dailyblog_main_wrapper section.articles_list_wrap .category_div {
  text-align: center;
  margin-bottom: 89px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.articles_list_wrap .category_div {
    max-width: 600px;
    margin: 0 auto 70px auto;
  }
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.articles_list_wrap .category_div {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.articles_list_wrap .category_div {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.articles_list_wrap .category_div {
    margin-bottom: 22px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .category_div
  .category_badge {
  display: inline-block;
  border-radius: 22px;
  padding: 4px 25px 5px 25px;
  margin: 0 8px;
  border: 1px solid #909090;
  color: #303030;
  opacity: 0.4;
  margin-bottom: 16px;
  cursor: pointer;
  user-select: none;
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .category_div
  .category_badge.active,
.dailyblog_main_wrapper
  section.articles_list_wrap
  .category_div
  .category_badge:hover {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .category_div
    .category_badge {
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 14px;
    letter-spacing: -0.78px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .category_div
    .category_badge {
    margin: 0 3px;
    margin-bottom: 8px;
    padding: 5px 14px;
    font-size: 13px;
  }
}
.dailyblog_main_wrapper section.articles_list_wrap .articles_list_div {
  margin-bottom: 83px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.articles_list_wrap .articles_list_div {
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.articles_list_wrap .articles_list_div {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_main_wrapper section.articles_list_wrap .articles_list_div {
    margin-bottom: 23px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item {
  display: flex;
  margin-bottom: 77px;
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item {
    flex-wrap: wrap;
    margin-bottom: 53px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  > a {
  width: 555px;
  height: 312px;
  overflow: hidden;
  margin-right: 42px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    > a {
    width: 55%;
    height: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    > a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    > a {
    height: 204px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .picture_div {
  width: 100%;
  height: 100%;
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .picture_div
  .picture {
  width: 100%;
  height: 100%;
  background-color: #8f8f8f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  filter: grayscale(40%);
  cursor: pointer;
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .picture_div
  .picture:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .picture_div
    .picture:hover {
    transform: unset;
  }
}
@media only screen and (max-width: 1024px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .picture_div
    .picture {
    filter: grayscale(0%);
  }
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .picture_div
    .picture:hover {
    transform: none;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div {
  width: calc(100% - 597px);
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div {
    width: 100%;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div
  .category_badge {
  display: inline-block;
  background-color: #b0b1b4;
  color: white;
  padding: 4px 19px;
  font-size: 18px;
  letter-spacing: -1.08px;
  margin-bottom: 5px;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .category_badge {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .category_badge {
    font-size: 13px;
    letter-spacing: -0.78px;
    padding: 3px 8px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div
  .title {
  color: #303030;
  font-size: 28px;
  letter-spacing: -1.68px;
  line-height: 37px;
  margin-bottom: 17px;
  user-select: none;
  cursor: pointer;
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div
  .title:hover {
  color: #0099ff;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .title {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -1.26px;
    margin-bottom: 9px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div
  .description {
  display: block;
  display: -webkit-box;
  color: #303030;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1.08px;
  line-height: 28px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .description {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .description {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.78px;
    margin-bottom: 7px;
  }
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div
  .item_more_btn {
  display: inline-block;
  color: #303030;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  font-size: 18px;
  letter-spacing: -1.08px;
  user-select: none;
  cursor: pointer;
}
.dailyblog_main_wrapper
  section.articles_list_wrap
  .articles_list_div
  .article_item
  .info_div
  .item_more_btn:hover {
  color: #0099ff;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .item_more_btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper
    section.articles_list_wrap
    .articles_list_div
    .article_item
    .info_div
    .item_more_btn {
    font-size: 14px;
    letter-spacing: -0.84px;
  }
}
.dailyblog_main_wrapper section.articles_list_wrap .more_btn_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  cursor: pointer;
}
.dailyblog_main_wrapper section.articles_list_wrap .more_btn_div p {
  width: 100%;
  text-align: center;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1.32px;
  color: #747474;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1200px) {
  .dailyblog_main_wrapper section.articles_list_wrap .more_btn_div p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.articles_list_wrap .more_btn_div p {
    font-size: 16px;
    letter-spacing: -0.96px;
    margin-bottom: 6px;
  }
}
.dailyblog_main_wrapper section.articles_list_wrap .more_btn_div div {
  height: 8px;
}
.dailyblog_main_wrapper section.articles_list_wrap .more_btn_div div img {
  width: 12px;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .dailyblog_main_wrapper section.articles_list_wrap .more_btn_div div img {
    width: 9px;
  }
}
