header.top_div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding: 27px 41px 0 31px;
  z-index: 100;
}
@media only screen and (max-width: 414px) {
  header.top_div {
    padding: 27px 26px;
  }
}
header.top_div > img {
  height: 38px;
}
@media only screen and (max-width: 1200px) {
  header.top_div > img {
    height: 34px;
  }
}
@media only screen and (max-width: 768px) {
  header.top_div > img {
    height: 23px;
  }
}

header.top_div > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

header.top_div .link_to_dailyfunding {
  display: flex;
  align-items: center;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  font-size: 18px;
  letter-spacing: -1.08px;
  user-select: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  header.top_div .link_to_dailyfunding {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  header.top_div .link_to_dailyfunding {
    font-size: 12px;
  }
}
header.top_div .link_to_dailyfunding img {
  width: 29px;
}
@media only screen and (max-width: 1200px) {
  header.top_div .link_to_dailyfunding img {
    width: 25px;
  }
}
@media only screen and (max-width: 768px) {
  header.top_div .link_to_dailyfunding img {
    width: 16px;
  }
}
header.top_div .link_to_dailyfunding span {
  margin-right: 6px;
}

@media only screen and (max-width: 768px) {
  header.top_div .link_to_dailyfunding span {
    font-size: 12px;
    letter-spacing: -0.36px;
  }
}
