.dailyblog_post_wrapper .body_div {
  position: relative;
  z-index: 20;
  width: 100%;
  background-color: white;
  min-width: 320px;
  margin-top: 814px;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper .body_div {
    margin-top: 580px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper .body_div {
    margin-top: 427px;
  }
}

.dailyblog_post_wrapper section.article_content_wrap {
  padding: 0 43px;
}
@media only screen and (max-width: 660px) {
  .dailyblog_post_wrapper section.article_content_wrap {
    padding: 0 26px;
  }
}
.dailyblog_post_wrapper section.article_content_wrap.closed {
  padding-bottom: 123px;
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper section.article_content_wrap.closed {
    padding-bottom: 45px;
  }
}
.dailyblog_post_wrapper section.article_content_wrap article.content {
  font-size: 22px;
  font-weight: 300;
  font-family: "Noto Sans KR", AppleGothic, Dotum, sans-serif;
  line-height: 1.75;
  letter-spacing: -0.66px;
  max-width: 878px;
  margin: 0 auto;
  padding: 67px 0 90px 0;
  padding-top: 67px;
  padding-bottom: 123px;
  user-select: none;
  word-break: break-all;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content {
    font-size: 18px;
    letter-spacing: -0.54px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content {
    width: 100%;
    padding: 61px 0 65px 0;
  }
}
.dailyblog_post_wrapper section.article_content_wrap article.content small {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content small {
    font-size: 15px;
  }
}
.dailyblog_post_wrapper section.article_content_wrap article.content h2 {
  font-size: 30px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content h2 {
    font-size: 26px;
  }
}
.dailyblog_post_wrapper section.article_content_wrap article.content h3 {
  font-size: 28px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content h3 {
    font-size: 22px;
  }
}
.dailyblog_post_wrapper section.article_content_wrap article.content h4 {
  font-size: 22px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content h4 {
    font-size: 18px;
  }
}
.dailyblog_post_wrapper section.article_content_wrap article.content hr {
  width: 483px;
  height: 21px;
  margin: 60px auto;
  border: none;
  background-image: url("/Img/hr_bar@2x.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.article_content_wrap article.content hr {
    width: 100%;
    background-size: contain;
  }
}
.dailyblog_post_wrapper section.article_content_wrap .post_bottom_btn_wrap {
  max-width: 878px;
  margin: 0 auto;
}
.dailyblog_post_wrapper
  section.article_content_wrap
  .post_bottom_btn_wrap
  .button_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dailyblog_post_wrapper
  section.article_content_wrap
  .post_bottom_btn_wrap
  .button_div
  button {
  display: flex;
  align-items: center;
  border: 1px solid #909090;
  border-radius: 24px;
  padding: 7px 21px 9px 21px;
  color: #909090;
  font-size: 20px;
  letter-spacing: -1.2px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper
    section.article_content_wrap
    .post_bottom_btn_wrap
    .button_div
    button {
    border: none;
    border-radius: 0;
    padding: 0;
  }
}
.dailyblog_post_wrapper
  section.article_content_wrap
  .post_bottom_btn_wrap
  .button_div
  button
  img {
  width: 22px;
  margin-top: 3px;
}
.dailyblog_post_wrapper
  section.article_content_wrap
  .post_bottom_btn_wrap
  .button_div
  button
  span {
  margin-left: 8px;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper
    section.article_content_wrap
    .post_bottom_btn_wrap
    .button_div
    button
    span.text {
    display: none;
  }
}
.dailyblog_post_wrapper
  section.article_content_wrap
  .post_bottom_btn_wrap
  .button_div
  button
  span.comment_number {
  color: #303030;
  line-height: 1;
}

.dailyblog_post_wrapper section.dailian_wrap {
  position: relative;
  background-image: url("/Img/dailian_back@2x.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 267px;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.dailian_wrap {
    background-image: url("/Img/dailian_back.png");
    height: 180px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper section.dailian_wrap {
    height: 126px;
  }
}
.dailyblog_post_wrapper section.dailian_wrap .black_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.47;
  z-index: 1;
}
.dailyblog_post_wrapper section.dailian_wrap .text_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: white;
  text-align: center;
  user-select: none;
}
.dailyblog_post_wrapper section.dailian_wrap .text_cover p {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.dailian_wrap .text_cover p {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper section.dailian_wrap .text_cover p {
    font-size: 15px;
    margin-bottom: 2px;
  }
}
.dailyblog_post_wrapper section.dailian_wrap .text_cover u {
  font-size: 24px;
  font-family: "Spoqa Han Sans", AppleGothic, Dotum, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.dailian_wrap .text_cover u {
    font-size: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper section.dailian_wrap .text_cover u {
    font-size: 15px;
  }
}
.dailyblog_post_wrapper section.dailian_wrap .text_cover br {
  display: none;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.dailian_wrap .text_cover br {
    display: block;
  }
}

.dailyblog_post_wrapper section.another_insight_wrap .another_insight_inner {
  max-width: 1154px;
  margin: 0 auto;
  padding: 105px 43px 20px 43px;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .dailyblog_post_wrapper section.another_insight_wrap .another_insight_inner {
    max-width: 878px;
  }
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper section.another_insight_wrap .another_insight_inner {
    padding: 85px 43px 20px 43px;
  }
}
@media only screen and (max-width: 660px) {
  .dailyblog_post_wrapper section.another_insight_wrap .another_insight_inner {
    padding: 85px 0;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper section.another_insight_wrap .another_insight_inner {
    padding: 55px 0;
  }
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .title {
  font-size: 37px;
  margin-bottom: 49px;
}
@media only screen and (max-width: 768px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .title {
    font-size: 34px;
  }
}
@media only screen and (max-width: 660px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .title {
    margin-bottom: 26px;
  }
}
@media only screen and (max-width: 414px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .title {
    font-size: 31px;
  }
}
/* insight_items_div_pc / mob 통합 */
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .insight_items_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .insight_items_div {
    max-width: 878px;
  }
}

.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .insight_items_div
  > a {
  width: calc(33.33% - 24px);
  vertical-align: top;
  margin: 0 12px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 992px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .insight_items_div
    > a {
    width: calc(50% - 24px);
  }
}

@media only screen and (max-width: 660px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .insight_items_div {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 19.5px;
    flex-wrap: nowrap;
  }

  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .insight_items_div
    > a {
    display: inline-block;
    width: calc(100% - 19.5px);
    margin-bottom: 0;
    padding: 0 6.5px;
    transition: margin-left 0.3s ease-out;
    vertical-align: top;
  }
}

.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item {
  width: 100%;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .image_div {
  position: relative;
  background-color: #8f8f8f;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 186px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 660px) {
  .dailyblog_post_wrapper
    section.another_insight_wrap
    .another_insight_inner
    .item
    .image_div {
    height: unset;
    padding-bottom: 55%;
  }
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .image_div
  .category_div {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  font-size: 14px;
  letter-spacing: -0.84px;
  padding: 4px 14px 6px 14px;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .image_div
  .category_div
  .black_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .image_div
  .category_div
  span {
  position: absolute;
  top: 4px;
  left: 14px;
  color: white;
  z-index: 2;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .info_div {
  text-align: left;
  user-select: none;
  min-height: 84px;
  cursor: pointer;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .info_div
  .article_title {
  font-size: 20px;
  letter-spacing: -1.2px;
  margin-bottom: 6px;
  white-space: normal;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .info_div
  .article_title:hover {
  color: #0099ff;
}
.dailyblog_post_wrapper
  section.another_insight_wrap
  .another_insight_inner
  .item
  .info_div
  .date {
  color: #909090;
  font-size: 14px;
}
